[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
django = "*"
django-postgrespool = "*"
gunicorn = "*"
"psycopg2" = "*"
sqlalchemy = "*"
whitenoise = "*"
django-test-plus = "*"
requests = "*"
"beautifulsoup4" = "*"
dateutils = "*"
cloudflare = "*"
raven = "*"
arrow = "*"
django-redis-cache = "*"
"html5lib" = "*"
model_mommy = "*"
factory_boy = "*"
pinboard = "*"
typogrify = "*"

[dev-packages]
django-debug-toolbar = "*"
jupyterlab = "*"
docutils = "*"

[requires]
python_version = "3.6"
