body {
    background-color: orange;
    background-image: url("../img/lucas-benjamin-729304-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Merriweather', serif;
    font-weight: light;
}
a, a:visited {
    color: inherit;
    text-decoration: none;
    background-color: rgba(255, 255, 0, 0.25);
}
a:hover {
    background-color: rgba(255, 255, 0, 0.75)
}
h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}
h1 { font-size: 4em; }
h3 {
    font-weight: lighter;
    margin-top: 1em;
}

header, main, footer {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

header { margin-top: 10em; }
header h1 span {
    background-color: black;
    color: orange;
    padding: 0.1em 0.3em;
    border-radius: 4px;
}
header p {
    font-size: 1.25em;
    margin-top: 3em;
    background-color: #ffffff22;
    border-radius: 4px;
    line-height: 1.7em;
    padding: 0.5em;
}
header p a {
    font-weight: bold;
}

main {
    width: 100%;
    max-width: 960px;
    margin-top: 3em;
}
main > div {
    background-color: #ffffff22;
    padding: 0.25em;
    height: 100%;
    margin-bottom: 1em;
}

.textago {
    font-size: 0.8em;
    color: #333;
    margin: 0.5em 0;
}

@media (min-width: 768px ) {
    main {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-column-gap: 1em;
    }
}

footer { margin-top: 10em; font-size: 0.7em; color: #333; text-align: right; }
