/*** header ********************************************/

.splash header {
    padding: 100px 0;
}
.splash header h1 {
    font-size: 6rem;
}
.splash header h1 span {
    background-color: #1f2426;
    color: #ff9900;
    padding: 0.1em 0.3em;
    border-radius: 4px;
}
.splash header p {
    font-size: 2rem;
    margin-top: 3em;
    background-color: #ffffff22;
    border-radius: 4px;
    line-height: 1.7em;
    padding: 0.5em;
}
.splash header a {
    font-weight: bold;
    box-shadow: none;
}

/*** main ********************************************/

.splash main > div {
    padding: 0.25em;
    margin-bottom: 1em;
}

.splash main h2 {
    font-size: 2.5rem;
}

.splash main h2 span {
    background-color: #1f2426;
    color: #f2ecde;
    padding: 0.2em 0.25em;
    border-radius: 4px;
}

.splash main blockquote { margin: 0; }
.splash main blockquote p {
    margin: 1em 0 0 0;
    font-style: italic;
}
.splash main blockquote p:before { content: open-quote; }
.splash main blockquote p:after { content: close-quote; }
.splash main .cite { margin-top: 0.5em; }
.splash main .date {
    font-weight: normal;
    font-size: 0.8em;
    color: #4b4237;
    white-space: nowrap;
}

/*** grid ********************************************/

@media (min-width: 768px ) {
    .splash main {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-column-gap: 1em;
    }
}
