/*

color pallette
                                            lighter     lightest
text        - dark gunmetal - #1f2426
text, quiet - dark liver    - #4b4237
vivid bg    - orange        - #ff9900       #ffc773     #ffecd0
pale accent - diamond blue  - #c9fbff
bg          - eggshell      - #f2ecde

*/

body {
    font-family: 'Merriweather', serif;
    font-weight: light;
    line-height: 1.8;
    font-size: 1.5em;
    color: #1f2426;
    background-color: #f2ecde;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
    /* thick highlight bottom, using box-shadow to get the highlight closer to the text */
    box-shadow: inset 0 -3px #ffc773;
}

a:hover {
    background-color: #ffc773;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}
h1, h2 {
    font-weight: bold
}

.header-wrap {
    background-color: #ff9900;
    background-image: url("../img/lucas-benjamin-729304-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

header, .main-wrap, footer {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

header {
    padding: 2em 0;
}

header h1 {
    margin-bottom: 0;
}

header nav {
    margin-top: 1em;
    font-size: 1.25em;
}

header nav ul {
    margin-bottom: 0;
}

header nav li {
    display: inline;
}

header h1 a, header h1 a:visited {
    background-color: #1f2426;
    color:#ff9900;
    box-shadow: none;
    padding: 0.1em 0.3em;
    border-radius: 4px;
}


main {
    margin-top: 1em;
}

aside {
    color: #4b4237;
    font-size: 0.8em;
}

aside p {
    margin-bottom: 1em;
}

footer {
    margin-top: 10em;
    font-size: 0.7em;
    color: #4b4237;
    text-align: right;
}

/* grid layoyt for tablet+ displays */
@media only screen and (min-width: 760px) {
    .main-wrap {
        display: grid;
        max-width: 960px;
        grid-gap: 20px;
        grid-template-columns: minmax(0px, 760px) 15em;
    }
    aside {
        margin-top: 1.5em;
        border-left: 1px #4b4237 dotted;
        padding-left: 20px;
    }
}
