<table class="calendar">
  <tr>
    <th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th><th>S</th>
  </tr>
  {% for week in weeks %}
    <tr>
      {% for day in week %}
        {% if day.display %}
          <td {% if day.populated %}class="populated"{% endif %}>
            {% if day.populated %}
              <a href="{% url 'blog_archive_day' day.day.year day.day.month day.day.day %}">{{ day.day|date:"j" }}</a>
            {% else %}
              {{ day.day|date:"j" }}
            {% endif %}
          </td>
        {% else %}
          <td>&nbsp;</td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
</table>
