{% extends "base_2col.html" %}

{% block link_title %}{{ blogmark.link_title }} | {{ block.super }}{% endblock link_title %}

{% block content %}
  {% load entry_tags typogrify_tags %}
  <h2>
      📌 <a href="{{ blogmark.link_url }}">{{ blogmark.link_title }}</a>
      {% if blogmark.via_url %}
        (<a href="{{ blogmark.via_url }}" title="{{ blogmark.via_title }}">via</a>)
      {% endif %}
  </h2>
    {% if blogmark.commentary %}
      <p>{{ blogmark.commentary|typography }}</p>
    {% endif %}
  {% endblock content %}

{% block sidebar %}
  <p>
    This is a link to <strong>{{ blogmark.link_title|typogrify }}</strong>,
    bookmarked on <a href="/{{ blogmark.created|date:"Y/M/j/" }}">{{ blogmark.created|date:"jS F Y" }}</a>.
  </p>

  {% if blogmark.tags.count %}
    <p>Tagged
      {% for tag in blogmark.tags.all %}
        {{ tag.get_reltag }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
  {% endif %}

{% endblock sidebar %}
