{% extends "base.html" %}

{% block extrahead %}
  {% load static %}
  <link rel="stylesheet" href="{% static "css/homepage.css" %}">
{% endblock extrahead %}

{% block bodyclass %}splash{% endblock %}

{% block header %}
  <h1><span>Jacob Kaplan-Moss</span></h1>
  <p>
    I'm a software developer, co-creator of <a href="https://djangoproect.com/">Django</a>, and an experienced engineering leader.
    I previously ran teams at <a href="https://18f.gsa.gov/">18F</a> and <a href="https://heroku.com/">Heroku</a>.
    I'm currently taking new clients through my consultancy, <a href="https://revsys.com/">REVSYS</a>.
  </p>
{% endblock %}

{% block main %}
  <main class="home">

    <div>
      <h2><span>Writing</span></h2>
      {% load entry_tags typogrify_tags %}
      {% for entry in entries %}
      <h4>
        <a href="{{ entry.get_absolute_url }}">{{ entry.title|typogrify }}</a>
        <span class="date"> {% if entry.is_today %}today{% else %}{{ entry.created|text_ago }}{% endif %}</span>
      </h4>
      <p class="summary">
        {% if entry.summary %}
          {{ entry.summary }}
        {% else %}
          {{ entry.body|xhtml|first_paragraph|striptags|truncatewords:"50"|typogrify }}
        {% endif %}
      </p>
      {% endfor %}
    </div> <!-- /writing -->

    <div>
      <h2><span>Speaking</span></h2>
        {% for talk in talks %}
          <h4>
            <a href="{{ talk.get_absolute_url }}">{{ talk.title }}</a>
            <span class="date">{{ talk.date|date:"F jS Y" }}</span>
          </h4>
          <p class="summary">
            A {{ talk.type }} at
            {% if talk.conference_url %}
              <a href="{{ talk.conference_url }}">{{ talk.conference_title }}</a>
            {% else %}
              {{ talk.conference_title}}
            {% endif %}
          </p>
      {% endfor %}
    </div> <!-- /speaking -->

    <div>
      <h2><span>Elsewhere</span></h2>
      {% for item in elsewhere %}
        {% if item.type == "blogmark" %}
          <h4>
            <a href="{{ item.link_url }}">{{ item.link_title }}</a>
            {% if item.via_url %}
              (<a href="{{ item.via_url }}" title="{{ item.via_title }}">via</a>)
            {% endif %}
            {% if not item.via_url and not item.link_title|ends_with_punctuation %}.{% endif %}
            {% if not item.commentary %}
              <a href="{{ item.get_absolute_url }}" rel="bookmark">#</a>
            {% else %}
            {% endif %}
          </h4>
          {% if item.commentary %}
            <p class="summary">
              {{ item.commentary|typogrify }}
              <a href="{{ item.get_absolute_url }}" rel="bookmark">#</a>
            </p>
          {% endif %}

        {% elif item.type == "quotation" %}
          <blockquote><p>{{ item.quotation|typogrify }}</p></blockquote>
          <p class="cite">&mdash;
            {% if item.source_url %}
              <a href="{{ item.source_url }}">{{ item.source }}</a>
            {% else %}
              {{ item.source }}
            {% endif %}
            <a href="{{ item.get_absolute_url }}" rel="bookmark">#</a>
          </p>
        {% else %}
          <!-- !!! unknown type: {{ item.type }} -->
        {% endif %}

      {% endfor %}
    </div> <!-- elsewhere -->
  </main>
{% endblock %}

