{% extends "base.html" %}

{% block extrahead %}
  {% load static %}
  <link rel="stylesheet" href="{% static "css/homepage.css" %}">
{% endblock extrahead %}

{% block bodyclass %}splash{% endblock %}

{% block header %}
  <h1><span>Jacob Kaplan-Moss</span></h1>
  <p>
    I'm a software developer, co-creator of <a href="https://djangoproect.com/">Django</a>, and an experienced engineering leader.
    I previously ran teams at <a href="https://18f.gsa.gov/">18F</a> and <a href="https://heroku.com/">Heroku</a>.
    I'm currently taking new clients through my consultancy, <a href="https://revsys.com/">REVSYS</a>.
  </p>
{% endblock %}

{% block main %}
  <main class="home">

    <div>
      <h2><span>Writing</span></h2>
      {% load entry_tags typogrify_tags %}
      {% for entry in entries %}
        <h3>
          <a href="{{ entry.get_absolute_url }}">{{ entry.title|typogrify }}</a>
          <span class="date"> {% if entry.is_today %}today{% else %}{{ entry.created|timesince }} ago{% endif %}</span>
        </h3>
        <p class="summary">
          {% if entry.summary %}
            {{ entry.summary }}
          {% else %}
            {{ entry.body|xhtml|first_paragraph|striptags|truncatewords:"50"|typogrify }}
          {% endif %}
        </p>
      {% endfor %}
    </div> <!-- /writing -->
    <div class="readmore">
      <a href="{% url 'entry_archive' %}">Writing archive &rarr;</a>
    </div>

    <div>
      <h2><span>Speaking</span></h2>
        {% for talk in talks %}
          <h4>
            <a href="{{ talk.get_absolute_url }}">{{ talk.title }}</a>
            <span class="date">
              {% if talk.is_future %}
                {{ talk.date|date:"F jS, Y" }}
              {% else %}
                {{ talk.date|timesince }} ago
              {% endif %}
            </span>
          </h4>
          <p class="summary">
            A {{ talk.type }}
            {% if talk.is_future %}
              I'll be giving
            {% else %}
              I gave
            {% endif %}
            at
            {% if talk.conference_url %}
              <a href="{{ talk.conference_url }}">{{ talk.conference_title }}</a>
            {% else %}
              {{ talk.conference_title}}
            {% endif %}
          </p>
      {% endfor %}
    </div> <!-- /speaking -->
    <div class="readmore">
      <a href="{% url 'speaking_portfolio_index' %}">Speaking archive &rarr;</a>
    </div>

    <div>
      <h2>
        <span>Elsewhere</span>
      </h2>
      {% load blog_tags %}
      {% blog_mixed_list elsewhere %}
    </div> <!-- elsewhere -->

    <div class="readmore">
      <a href="{% url 'tag_index' %}">Elsewhere archive &rarr;</a>
    </div>

  </main>
{% endblock %}

