{% extends "base_2col.html" %}

{% load typogrify_tags %}
{% load micawber_tags %}

{% block title %}{{ presentation.title }} | {{ block.super }}{% endblock title %}

{% block content %}
  <h2>{{ presentation.title|typogrify }}</h2>
  {% if presentation.description %}<p>{{ presentation.description|linebreaks }}</p>{% endif %}

  {% for coverage in presentation.coverage.all %}
    <div class="coverage-item coverage-{{ coverage.type }}">
      <h3>
        <i class="{{ coverage.icon_class }}"></i>
        <a href="{{ coverage.url }}">{{ coverage.get_type_display }}</a>
      </h3>
      {% if coverage.oembed %}
        {{ coverage.oembed.html|safe }}
      {% endif %}
    </div>
  {% endfor %}

{% endblock content %}

{% block sidebar %}
  <p>
    This is <strong>{{ presentation.title|typogrify }}</strong>
    a talk given by Jacob Kaplan-Moss at
    {% if presentation.conference.link %}
        <a href="{{ presentation.conference.link }}">{{ presentation.conference.title }}</a>
    {% else %}
        <strong>{{ presentation.conference.title }}</strong>
    {% endif %}
    on {{ presentation.date|date:"F jS Y" }}.
  </p>
{% endblock sidebar %}
